@keyframes spin {
    0% { transform: rotate(0deg);
      visibility:visible;
     }
    100% { transform: rotate(360deg);
    visibility:hidden; }
  }
  .process__card{
    transform: scale(1);
    & :hover{
      transform :scale(1.5);
    }
  }