/*header */
@mixin header-logo{
    display:block;
    width: 170px;
    height:30px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}
@mixin header-box{
    box-shadow: 0px 6px 6px rgb(219, 219, 219);
    height: 60px;
    width:100%;
}
/*div location*/
@mixin location{
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: rgba($color-grey,0.3);
    color: rgba($color-black,0.6);
    height:50px;
    font-size: 18px;
}
/*margins*/
@mixin margin{
    margin: 20px 20px;
}

@mixin section-margin{
    margin: 30px 20px ;
}
/*grands titres*/
@mixin big-titles{
    font-size: 25px;
    font-weight: bold;
}

/*breakpoints*/
@mixin responsive($breakpoint){
 @if $breakpoint == tablet {
    @media (min-width:600px){ @content};
    }
@if $breakpoint == tablet {
    @media (min-width:900px){ @content};
}
}
