@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes rotate {
  
  100% {
    transform: rotate(360deg);
  }
}
@keyframes hide {
  to {
    opacity: 0;
  }
}
@keyframes appears{
  0% {
   opacity :0;
  }
  100% {
    opacity :1;
  }
}
